<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EpicStream+ - Watch TV Shows , Movies , Specials , Live Cricket & amp , Football </title>
    
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>
  <div class="container-fluid ">
    <nav class="navbar mb-1 ">
      <div class="logo">
          <a href="/template/index.html">EpicStream+</a>
      </div>
      <ul class="nav-links mt-3">
          
          <li><a href="/template/tv.html">TV SHOWS</a></li>
          <li><a href="/template/Movies.html">MOVIES</a></li>
          <li><a href="/template/sports.html">SPORTS</a></li>
          <li><a href="/template/categories.html">CATEGORIES</a></li>
      </ul>
      <div class="search-container ms-5">
        <input type="text" placeholder="search" style="border: none;">
        <button type="submit" id="search-btn"><img src="/image/search (1).svg" alt=""></button>
      </div>
      <div class="cta me-2">
          <a href="/template/LOGINPAGE.HTML" class="cta-btn">LogIn</a>
          <a href="/template/signup.html" class="cta-btn">SignUp</a>
      </div>
    </nav>
    <!-- Header -->
 <!-- cursorel -->
  <div class="row">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/image/banners/1.jpg" class="d-block w-100" alt="..." height="400px">
          <div class="carousel-caption d-none d-md-block">
           
          </div>
        </div>
        <div class="carousel-item">
          <img src="/image/banners/banner2" class="d-block w-100" alt="..." height="400px">
          <div class="carousel-caption d-none d-md-block">
          
          </div>
        </div>
        <div class="carousel-item">
          <img src="/image/banners/banner3.jpg" class="d-block w-100" alt="..." height="400px">
          <div class="carousel-caption d-none d-md-block">
         
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!-- cursole -->
   <!-- latest Movies -->
<div class="row-2 mt-1 mb-2">
  <div class="col text-white "><h1>Latest Movies</h1></div>
</div>
<!-- latest movies -->
 <!-- cards -->
 <div id="card" class="row">
  
    <div class="col-2">
      <div class="card bg-dark ">
       <a href="/template/SOOKSHMADESHIN.html"> <img src="/image/movies/movies1.jpeg" class="card-img-top" alt="..." height="200px" width="100px"></a>
        <div class="card-body">
          <h5 class="card-title text-white">SOOKSHMADESHIN</h5>
        </div>
        <!-- <div class="card-body">
          <h5 class="card-title">Avater</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div> -->
       
      </div>
    </div>
    <div class="col-2">
      <div class="card bg-dark">
       <a href="/template/THUKRA _KE _MERA _PYAAR.html"> <img src="/image/movies/movies2.jpeg" class="card-img-top" alt="..." height="200px" width="100px"></a>
        <div class="card-body ">
          <h2 class="card-title text-white " style="font-size:medium;">THUKRA KE MERA PYAAR</h5>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card  bg-dark">
        <img src="/image/movies/movies3.webp" class="card-img-top" alt="..." height="200px" width="100px">
        <div class="card-body">
          <h5 class="card-title text-white">BAAGHI 4</h5>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card bg-dark ">
        <img src="/image/movies/movies4.webp" class="card-img-top" alt="..." height="200px" width="100px">
        <div class="card-body">
          <h5 class="card-title text-white">BAGHEERA</h5>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card bg-dark">
      <img src="/image/movies/movie5.webp" class="card-img-top" alt="..." height="200px" width="100px">
      <div class="card-body">
        <h5 class="card-title text-white">SARFIRA</h5>
      </div>
    </div>
  </div>
  <div class="col-2">
    <div class="card bg-dark ">
      <img src="/image/movies/movie6.jpg" class="card-img-top" alt="..." height="200px" width="100px">
      <div class="card-body">
        <h5 class="card-title text-white">LEGEND HANUMAN</h5>
      </div>
    </div>
  </div>
 
 </div>
 <div class="row mt-4">
  <div class="col-2">
    <div class="card bg-dark">
      <img src="/image/movies/movies7.webp" class="card-img-top" alt="..." height="200px" width="100px">
      <div class="card-body">
        <h5 class="card-title text-white">SALAAR</h5>
      </div>
      
    </div>
  </div>
  <div class="col-2">
    <div class="card bg-dark ">
      <img src="/image/movies/movies8.webp" class="card-img-top" alt="..." height="200px" width="100px">
      <div class="card-body">
        <h5 class="card-title text-white">KILL</h5>
      </div>
    </div>
  </div>
  <div class="col-2">
    <div class="card bg-dark ">
      <img src="/image/movies/movie9.webp" class="card-img-top" alt="..." height="200px" width="100px">
      <div class="card-body">
        <h5 class="card-title text-white">DEADPOOL2</h5>
      </div>
    </div>
  </div>
  <div class="col-2">
    <div class="card bg-dark">
      <img src="/image/movies/movie10.webp" class="card-img-top" alt="..." height="200px" width="100px">
      <div class="card-body">
        <h5 class="card-title text-white">KISHKINDHA</h5>
      </div>
    </div>
  </div>
  <div class="col-2">
    <div class="card  bg-dark">
      <img src="/image/movies/movie11.jpeg" class="card-img-top" alt="..." height="200px" width="100px">
      <div class="card-body">
        <h5 class="card-title text-white">Pushpa2</h5>
      </div>
    </div>
  </div>
  <div class="col-2">
    <div class="card  bg-dark">
      <img src="/image/movies/MOVIE12.avif " class="card-img-top" alt="..." height="200px" width="100px">
      <div class="card-body">
        <h5 class="card-title text-white">MUNJYA</h5>
      </div>
    </div>
  </div>
  <!-- footer -->
<div id="footer" class="row" align="center">
  
  <div class="col-2 mt-3 ms-5"> <h4>COMPANY</h4>
   <li class="mt-3">About Us</li>
   <li class="mt-3">Careers</li>
  </div>
  <div class="col-2 mt-3  ms-5 "><h4>VIEW WEBSITE</h4>
    <li class="mt-3 m-3"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
      <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
    </svg>English</li>
  </div>
  <div class="col-2   mt-3 ms-5"><H4>Need Help?</H4>
    <li class="mt-3  me-2"> Visit Help Center</li>
    <li  class="mt-3"> Share Feedback</li>
  </div>
  <div class="col-4 ms-5 mt-3"> <H4>Connect With Us</H4>
    <li class=" mt-3" align="center"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
      <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
    </svg> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-twitter-x ms-4" viewBox="0 0 16 16">
      <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
    </svg></i>
  </li>
  </div>
</div>
<!-- footer end -->
 </div>
  </div>
</div>  
</div>
  <!-- <script src="/js/script.js"></script> -->
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>
