
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EpicStream+ - Watch TV Shows , Movies , Specials , Live Cricket & amp , Football</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

   <div class="glass-container">
    <div class="login-box">
        <h2>Login </h2>
        <form action="/template/index.html" >
            <input type="text" name="Username" id="username" placeholder="Enter Username"    value required>
            <input type="password" name="password" id="password" placeholder=" Enter password" required>
            <div class="options">
                <input type="checkbox" name="remember" id="remember">
                <label for="">Remember me</label>
                <a href="#"> Forget Password</a>
            </div>
            <button type="submit">Login</button>
            <p>Don't have account?</p>
           <button type="button"><a href="/template/signup.html"id="register">SignUp</a></button> 
        </form>
    </div>
   </div>
</body>
</html>