<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EpicStream+ - Watch TV Shows , Movies , Specials , Live Cricket & amp , Football</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sooks.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar mb-1 ">
            <div class="logo">
                <a href="/template/index.html">EpicStream+</a>
            </div>
            <ul class="nav-links mt-3">
                <li><a href="/template/index.html">HOME</a></li>
                <li><a href="/template/tv.html">TV SHOWS</a></li>
                <li><a href="/template/sports.html">SPORTS</a></li>
                <li><a href="/template/categories.html">CATEGORIES</a></li>
            </ul>
            <div class="search-container ms-5 me-2">
              <input type="text" placeholder="search" style="border: none;">
              <button type="submit" id="search-btn"><img src="/image/search (1).svg" alt=""></button>
            </div>
          </nav>
        <div class="row">
            <div class="col-md-3">
<div class="card" style="width: 18rem;">
    <img src="/image/movies/movies1.jpeg" class="card-img-top" alt="..." height="400px">
  </div>
</div>
<div class="col-md-9">
    <div class="row1 text-white">
        
        <h1>SOOKSHMADESHIN</h1>
        <p><i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>
        <b>4.3 986 Reviews</b></p>

           <p>Sookshmadarshini (transl.Microscope) is a 2024 Indian Malayalam-language black comedy mystery film directed by M. C. Jithin, written by Libin T.B and Athul Ramachandran. Produced by Happy Hours Entertainments and AVA Productions, it stars Nazriya Nazim and Basil Joseph</p>
            
           <h6><i><b>Customer Review: </b></i></h6>
           <b><i>"Splendid performance by Nazriya as the bold mischievous young lady marks the ideal response for her brilliance in script selection and the time intervals in her filmography.👌👌🔥Basil has effortlessly done the strange characterisation through his witty mannerisms and actions.👌🔥Sidharth Bharathan has delivered a subtle performance as a nerdy doc.👏👏Impressive performances from Akhila Bhargavan,Pooja Mohanraj,Merin Mary Philip,Kottayam Ramesh,Deepak Parambol,Gopan Mangat,Manohari Joy & Jaya Ku</i></b>
           <p><i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>
        <b>5.5</b><br>
        <a href=""><button class=" bnt2 mt-3" type="button">WATCH NOW</button></a>
    </div>
</div>
<div id="footer" class="row footer mt-5" align="center">
  
    <div class="col-2 mt-4 mb-5"> <h4>COMPANY</h4>
     <li class="mt-3">About Us</li>
     <li class="mt-3">Careers</li>
    </div>
    <div class="col-2 mt-3  ms-5 "><h4>VIEW WEBSITE</h4>
      <li class="mt-3 m-3"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
      </svg>English</li>
    </div>
    <div class="col-2   mt-3 ms-5"><H4>Need Help?</H4>
      <li class="mt-3  me-2"> Visit Help Center</li>
      <li  class="mt-3"> Share Feedback</li>
    </div>
    <div class="col-4 ms-5 mt-3"> <H4>Connect With Us</H4>
      <li class=" mt-3" align="center"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
      </svg> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-twitter-x ms-4" viewBox="0 0 16 16">
        <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
      </svg></i>
    </li>
    </div>
  </div>
</div>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>